{% extends 'calzados/home.html' %}

{% block content %}
    <!-- Contenido específico de la página "Acerca de mí" -->
    <h1>Acerca de mí</h1>
    <p>Escribe aquí sobre ti mismo. SÍ ACA ESTOY TRATANDO QUE APAREZCA ALGO QUE ESTOY ESCRIBIENDO, PERO NO SE MUESTRA. VAMOS CARAJO. VIVA LA LIBERTAD CARAJO</p>
{% endblock %}
    

{% block titulo %}
                    <h1 class="masthead-heading text-uppercase mb-0">
                        <span style="display: inline-block; border-bottom: 2px solid black; padding-bottom: 5px;">
                            Resumen de Vida
                        </span>
                    </h1>
                    
                    <br>
                    <h2 style="color: darkgrey;">Sobre mí</h2>
<p style="color: black;">Hola! Mi nombre es Pablo Suajes y me complace darles la bienvenida a mi página personal. Antes que nada, quiero expresar mi más sincero agradecimiento a mis tutores y al profesor Norman Beltran por su invaluable ayuda y apoyo en mi camino de aprendizaje. Su dedicación y claridad al explicar los temas hicieron que aprender fuera una experiencia gratificante y enriquecedora.</p>

<br>

<p style="color: black;">Permítanme contarles un poco sobre mí. Con 39 años de edad, he tenido una trayectoria laboral diversa, desempeñándome en diferentes roles, desde trabajos de entrega y ventas hasta roles en fábricas y servicios de taxi. Siempre he sido una persona inquieta, ansiosa por aprender y crecer profesionalmente.</p>

<br>

<p style="color: black;">A lo largo de mi vida, he explorado diversos campos de estudio, desde matemáticas y educación física hasta enfermería. Sin embargo, fue mi cercanía con la informática lo que despertó mi verdadera pasión. Siempre estuve cerca de la computadora y descubrí mi habilidad como diseñador gráfico, así como mi destreza en el manejo del paquete Office y la mecanografía.</p>

<br>

<p style="color: black;">Durante la pandemia, mi interés por la informática se intensificó. Inspirado por un vecino que me alentó a tomar cursos en este campo, decidí embarcarme en una aventura de aprendizaje en CoderHouse. Comencé con cursos de procesamiento de datos con Excel avanzado, seguido de ciberseguridad y redes informáticas, todos orientados hacia mi pasión por la seguridad informática. Recientemente, me inscribí en un curso de programación Python para ampliar aún más mis habilidades.</p>

<br>

<p style="color: black;">Cada curso que he realizado ha sido una experiencia enriquecedora y he obtenido certificados que respaldan mi conocimiento en estas áreas. Mi objetivo es encontrar oportunidades laborales que me permitan trabajar frente a una computadora, donde pueda seguir creciendo y aprendiendo en el fascinante mundo de la informática, especialmente en el campo de la seguridad informática.</p>

<br>

<p style="color: black;">Agradezco sinceramente su interés en conocerme y les invito a explorar mi página para obtener más información sobre mí y mis proyectos. ¡Gracias por visitar!</p>


                    
{% endblock titulo %}