{% extends 'calzados/home.html' %}

{% block titulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Calzados de Hombre</h1>
{% endblock titulo %} 


{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Hombres</h2></td>
        <td>
            <a
            href="{% url 'hombreCrear' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear Publicación"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre del Calzado</th>
            <th>Descripción</th>
            <th>Nº de Talle</th>
            <th>Precio $</th>
            <th>Color</th>
            <th>Material</th>
            <th>Fecha de Exposición</th>
            <th>Email</th>
            <th>Modificar</th>
        </tr>
    </thead>
    <tbody>
{% for h in hombres  %}
        <tr>
            <td>{{ h.id }}</td>
            <td>{{ h.nombre }}</td>
            <td>{{ h.descripcion }}</td>
            <td>{{ h.talle }}</td>
            <td>{{ h.precio }}</td>
            <td>{{ h.color }}</td>
            <td>{{ h.material }}</td>
            <td>{{ h.fecha_Exposicion }}</td>
            <td>{{ h.email }}</td>
            <td>
                <a
                  href="{% url 'hombreActualizar' h.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Editar"></i>
                </a>
                <a
                  href="{% url 'hombreBorrar' h.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Eliminar"></i>
                </a>                
              </td>

        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock contenido %} 