{% extends 'calzados/home.html' %}

{% block titulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Calzados de Mujer</h1>
{% endblock titulo %} 

{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Mujeres</h2></td>
        <td>
            <a
            href="{% url 'mujerCrear' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear Publicación"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre del Calzado</th>
            <th>Descripción</th>
            <th>Nº de Talle</th>
            <th>Precio $</th>
            <th>Color</th>
            <th>Material</th>
            <th>Fecha de Exposición</th>
            <th>Email</th>
            <th>Modificar</th>

        </tr>
    </thead>
    <tbody>
{% for m in mujeres  %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.nombre }}</td>
            <td>{{ m.descripcion }}</td>
            <td>{{ m.talle }}</td>
            <td>{{ m.precio }}</td>
            <td>{{ m.color }}</td>
            <td>{{ m.material }}</td>
            <td>{{ m.fecha_Exposicion }}</td>
            <td>{{ m.email }}</td>
            <td>
                <a
                  href="{% url 'mujerActualizar' m.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Editar"></i>
                </a>
                <a
                  href="{% url 'mujerBorrar' m.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Eliminar"></i>
                </a>                
              </td>

        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock contenido %} 