{% extends 'calzados/home.html' %}

{% block titulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Calzado de Nenas</h1>
{% endblock titulo %} 


{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Nenas</h2></td>
        <td>
            <a
            href="{% url 'nenaCrear' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear Publicación"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre del Calzado</th>
            <th>Descripción</th>
            <th>Nº de Talle</th>
            <th>Precio $</th>
            <th>Color</th>
            <th>Material</th>
            <th>Fecha de Exposición</th>
            <th>Email</th>
            <th>Modificar</th>
        </tr>
    </thead>
    <tbody>
{% for a in nenas  %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.nombre }}</td>
            <td>{{ a.descripcion }}</td>
            <td>{{ a.talle }}</td>
            <td>{{ a.precio }}</td>
            <td>{{ a.color }}</td>
            <td>{{ a.material }}</td>
            <td>{{ a.fecha_Exposicion }}</td>
            <td>{{ a.email }}</td>
            <td>
                <a
                  href="{% url 'nenaActualizar' a.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Editar"></i>
                </a>
                <a
                  href="{% url 'nenaBorrar' a.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Eliminar"></i>
                </a>                
              </td>

        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock contenido %} 